data/
__pycache__/
*.pyc
.git/
README.md
docker-compose.yml
anime-recommender-ui/
rbm/docker-compose.yml
rbm/__pycache__/
rbm/out/
rbm/automated_grid_search_20250806_025414.csv
rbm/hyperparameter_tuning.py
rbm/main.py
rbm/train.py
rbm/evaluate.py
rbm/data_analysis.ipynb
venv/
.venv/
out/