__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
datasets/
*.pth
*.csv
.env
.ipynb_checkpoints

.idea/
.vscode/

.DS_Store
Thumbs.db

anime-recommender-ui/node_modules/
anime-recommender-ui/build/
anime-recommender-ui/.env

data/
out/
rbm/out/
rbm/hyperparameter_tuning.py