# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
dataset/
*.pth
*.csv
.env
# Jupyter
.ipynb_checkpoints

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Node (Frontend)
anime-recommender-ui/node_modules/
anime-recommender-ui/.env